In [2]:
def printme( str ):
    #This is a print function
    print (str);
    return;

printme("I'm first call to user defined function!");
printme("Again second call to the same function");

I'm first call to user defined function!
Again second call to the same function

In [3]:
def changeme( mylist ):
    #This changes a passed list
    mylist.append([1,2,3,4])
    print ("Values inside the function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist )
print ("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [4]:
def changeme( mylist ):
    #This changes a passed list
    mylist = [1,2,3,4];
    print("Values outside the function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist );
print ("Values outside the function: ", mylist)

Values outside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [7]:
def printme( str ):
    #This prints a passed string
    print (str);
    return;
printme('str');

str

In [8]:
def printme( str ):
    #This prints a passed string
    print (str)
    return;
printme ( str = "Mystring");

Mystring

In [9]:
def printinfo( name, age ):
    #Test function
    print ("Name: ", name);
    print ("Age: ", age);
    return;
printinfo( age=50, name="miki" );

Name:  miki
Age:  50

In [10]:
def printinfo( name, age = 35 ):
    #Test function
    print ("Name: ", name);
    print ("Age: ", age);
    return;
printinfo( age=50, name="miki");
printinfo( name="miki");

Name:  miki
Age:  50
Name:  miki
Age:  35

In [12]:
def printinfo( arg1, *vartuple ):
    #This is test
    print ("Output is: ")
    print (arg1)
    for var in vartuple:
        print (var)
        return;
printinfo( 10 );
printinfo( 10, 60, 50 );

Output is:
10
Output is:
10
60

In [13]:
total = 50; #This is global variable.
def sum( arg1, arg2 ):
    # Add both the parameters
    total = arg1 + arg2;
    print ("Inside the function local total : ", total)
    return total;
#Now yoy can call sum function
sum(10, 20 );
print ("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  50

In [14]:
def swap(x, y):
    global a
    a = "Lawal"
    x,y = y,x
    b = "Chris"
    b = "Edward"
    c = "Lola"
    print(a,b,x,y)
    a = "Mary"
swap("Tina", "Tolu")
print (a)

Lawal Edward Tolu Tina
Mary