In [ ]:
# Girls data
girl_names = ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian']
girl_age = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girl_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girl_score = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Boys data
boy_names = ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode']
boy_age = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boy_height = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boy_score = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

# Print table 
print("Name| Age| Height | Score")

# Print girl data
for i in range(len(girl_names)):
    print(f"{girl_names[i]}\t| {girl_age[i]}\t| {girl_height[i]}\t   | {girl_score[i]}\t")

# Print boy data
for i in range(len(boy_names)):
    print(f"{boy_names[i]}| {boy_age[i]}| {boy_height[i]}   | {boy_score[i]}")

In [ ]:
print("Good day sir/ma ")
age = int(input("How old are you?: "))
years_of_experience = int(input("How many years of experience do you have?: "))
    
if years_of_experience > 25 and age >= 55:
        print(" Your estimated Annual Tax Revenue is N5,600,000" )
elif years_of_experience > 20 and age >= 45:
         print(" Your estimated Annual Tax Revenue is N4,480,000" )
elif years_of_experience > 10 and age >= 35:
         print(" Your estimated Annual Tax Revenue is N1,500,000" )
else:
         print(" Your estimated Annual Tax Revenue is N550,000" )